body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.file {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.announcement {
   border-radius: 5px;
   border: 1px solid black;
   margin: 10px;
}
.title {
   padding: 4px;
   margin: 0;
   background-color: #2185d0;
   color: white;
   font-size: 15px;
   text-align: center;
}
.desc{
   padding: 10px;
   color: #5a5656;
}
