body {
    /*   font-family: 'Multi', sans-serif; */
    margin: 0;
    font-family: 'Multi', sans-serif;
    overflow: scroll;
    overflow-x: hidden;
}
.sub {
    margin: 30px 0 30px 0;
}
.thing{
    font-size: 20px;
    display: flex;
    justify-content: center;
}
.file {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.announcement {
    border-radius: 5px;
    border: 1px solid black;
    margin: 10px;
}
.title {
    padding: 4px;
    margin: 0;
    background-color: #2185d0;
    color: white;
    font-size: 15px;
    text-align: center;
}
.desc{
    padding: 10px;
    color: #302e2e;
    text-align: center;
}
.noAnnouncementClass {
    display: flex;
    justify-content: center;
    background-color: #52596b;
    padding: 17px 30px;
    border-radius: 7px;
    margin: 10px;
    color: white;
    font-family: 'Multi', sans-serif;
    font-weight: 200;
}
header {
    width: 100vw;
    height: 10vh;
    background-color: #52596b;
    font-size: 30px;
    color: white;
    display: flex;
    align-items: center;
}
.header-title {
    margin: 0;
    margin-left: 20px;
    font-family: 'Multi', sans-serif;
    font-weight: 400;
    margin-right: auto;
}

/*sidebar*/

.s-b{width: 30px;}
.sidebar-button div{
    height: 4px;
    width: 30px;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 5px;
    border-radius: 25px;
    transition: 0.3s;
    align-content: center;
}
.sidebar-button {margin: 10px;}
.sidebar-button:hover {cursor: pointer;}

.header-sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 10px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    text-align: start;
}.header-sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}.header-sidenav a:hover {
    color: #f1f1f1;
}.header-sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.main{
    display:flex;
    flex-direction: column;
}
.grade:hover, .grade:active{
    cursor: pointer;
    background-color: rgb(219, 219, 219);
}
.grade {
    border: 2px solid black;
    border-top: none;
    padding: 20px;
    font-family: 'Multi', sans-serif;
    font-size: 20px;
    font-weight: 700;
    user-select: none;
    width: 200px
}
.grade:first-child{
    border-top: 2px solid black;
}
.grade-date {
    font-family: 'Multi', sans-serif;
    font-size: 15px;
    font-weight: 900;
    color: gray;
}
.test{
    background-color: #111;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    font-weight: 100;
}
.close-modal {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-modal:hover, .close-modal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal-content-grade, .modal-content-coef {
    font-weight: 700;
}
hr{background-color: black;}

.average{
    margin: 0 0 20px 0;
    font-size: 25px;;
    padding: 0px 10px 5px 10px;
    font-weight: 500;
    text-align: center;
    border: 2px solid black;
}
.average-title {border-top: 10px solid white;}
.average-num {
    font-weight: 700;
    padding: 8px;
}

@media(max-width: 525px){
    .thing{font-size: 4vw}
}
@media(max-height: 400px){
    .navbar {height: 20vh;}
}
